.mainBtn {
  /* justify-content: center; */
  margin: 250px auto;
  padding: 30px 15px;
  font-size: 40px;
  width: 400px;
  height: 200px;  
  margin-right: 50px;
  cursor: pointer;
}

.btn-container {
  background-color: rgba(15, 1, 1, 0.637);
  width: 1200px;
  height: 900px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

.modal.show {
  position: absolute;
  z-index: 1;
  display: block;
  width: 1200px;
  height: 900px;
}

.modal {
  background-color: rgba(0,0,0, .8);
  opacity: 1;
}

.modal-dialog {
  max-width: 520px;
  margin: 230px auto;
  position: relative;
  width: auto;
  pointer-events: none;
}

.modal-content {
  color: white;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color:rgb(251, 73, 73);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-content::after, ::before {
  box-sizing: border-box;
}

.modal-body {
  line-height: 30px;
  text-align: center;
  position: relative;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.modal-body::after, ::before {
  box-sizing: border-box;
}

.modal-header {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.123);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.close-Btn {
  color: rgb(54, 49, 49);
  font-size: 25px;
  border: none;
  background-color: Transparent;
  cursor:pointer;
}

.modalBtn {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.219);
  color: white;
  width: 90px;
  height: 40px;
  cursor:pointer;
}

