@media (max-width: 768px) {
    .header-container li {
        padding: 20px 15px;
    }
    .img-bg {
        max-width: 700px;
    }
    .posts-elem {
        grid-template-columns: 160px 500px;
    }
    .latest-inst-img {
        display: flex;
        justify-content: center;

    } .latest-inst-img img {
        padding-right: 10px;
        width: 200px;
        height: 200px;
    }
    .image-768.none {
        display: none;
    }
    .image-320:nth-child(3) {
        padding-right: 0;
    }
    .text-inst {
        margin: 0 65px;
    }
}


@media (max-width: 320px) {
    .img-bg {
        max-width: 280px;
    }
    .main-content {
        display: grid;
        grid-template-columns: repeat (280px);
    }
    .posts-elem {
        display: inline;
    }
    .our-recent-posts {
        display: block;
    }
    .header {
        margin-bottom: 20px;
    }
   .content {
       display: none;
   }
   .our-recent-posts {
       width: 300px;
       margin-left: 15px;
   }
   .our-recent-text {
       width: 300px;
       margin-left: 15px;
   }
   .post-description {
       margin-bottom: 2px;
   }
   .image-320 {
    display: none;
}
    .hidden-insta-text {
    display: none;
}
    .latest-inst-shots {
        width: 300px;
        background: transparent;
    }
    .latest-inst-shots img{
        width: 250px;
        height: 250px;
    }
    footer {
        padding: 15px 0px;
        font-size: 12px;
        width: 320px;
    }
    .text-inst:nth-child(1) {
        width: 300px;
    }
    .text-inst {
        line-height: 0;
        padding: 10px 0;
        margin-left: 15px;
    }
    .footer-main-text {
        line-height: 12px;
        margin: 45px auto;
        width: 300px;
        height: 20px;
    }
    .header-container li {
        padding: 8px 8px;
        text-align: left;
    }
    .header-container {
        top: 35px;
        left: 115px;
        background: rgba(245, 245, 245, 1);
        position: absolute;
        width: 186px;
        height: 200px;
        display: none;
    }
    .menu-btn {
        display: block;
    }
}
