footer {
    background: rgba(0, 0, 0, 1);
    color: rgba(185, 185, 185, 1);
    text-align: center;
    padding: 55px 0;
    line-height: 30px;
}

.footer-text {
    color: rgba(254, 254, 254, 1);
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    @include fontFam(normal);
    text-transform: uppercase;
}

.footer-main-text {
    margin: 35px auto;
    width: 600px;
    height: 40px;
}