body {
  max-width: 1200px;
}

%m-txt-color {
    color: rgba(78, 78, 78, 1);
}

@mixin fontFam ($fweight) {
  font-family: 'Roboto', sans-serif;
    font-weight: $fweight;
}


%btn-parameters {
  width: 17px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}


header {
    align-items: center;
    max-width: 100%;
    text-align: center;
    margin-bottom: 65px;
    margin-right: 0px;
}

.header-container {
    @include fontFam(400);
    padding-left: 0px;
    max-width: 1200px;
    display: flex;
    @extend %m-txt-color;
    text-transform: uppercase;
    font-size: 11px;
    justify-content: center;
}

.header-container.active {
    display: block;
}

.header-container  li {
    list-style-type: none;
    padding: 45px 30px;
}

.header-container  li:hover {
color: rgba(87, 164, 164, 1);
}

.img-bg {
    max-width: 1100px;
}



.menu-btn {
    margin-right: 12px;
    margin-bottom: 10px;
    float: right;
    background: #000;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 37px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  
  .menu-btn__burger {
    margin: 18px auto;
    @extend %btn-parameters;
  }
  .menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    @extend %btn-parameters;
    
  }
  .menu-btn__burger::before {
    transform: translateY(-6px);
  }
  .menu-btn__burger::after {
    transform: translateY(6px);
  }
  
  
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
