.latest-inst-shots {
    background: rgba(209, 209, 209, 0.7);
    padding-bottom: 50px;
    text-align: center;
}
.latest-inst-img img{
    width: 250px;
    height: 250px;
}

.text-inst {
    padding-top:20px;
    color: rgba(78, 78, 78, 1);
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 50px;
}

.text-inst :nth-child(1) {
    font-size: 16px;
}
.text-inst :nth-child(2) {
    font-size: 13px;
}