@mixin  grids($params) {
    display: grid;
    grid-template-columns: $params;
    justify-content: center;
}

.our-recent-posts {
    @include grids(repeat(auto-fill, minmax(390px, 540px)));
    gap: 20px;
    margin-bottom: 40px;
}


.posts-elem {
    @include grids(160px 360px);
    gap: 15px;
}

.our-recent-text {
    padding-bottom: 15px;
    margin-left: 45px;
    @include fontFam(700);
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(78, 78, 78, 1);

}


.post {
    @include fontFam(normal);
    margin-bottom: 40px;
} 

.post-description {
    margin-top: 5px;
    @include fontFam(700);
    font-size: 16px;
    color: rgba(78, 78, 78, 1);
}
.comments-post {
    color: rgba(124, 124, 124, 1);
    font-weight: 400;
    font-size: 12px;
}

.content {
    color: rgba(92, 92, 92, 1);
    @include fontFam(400);
    font-size: 14px;
}
